
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot + JPA + Datatables</title>
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"></link>
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<link rel="stylesheet"
	th:href="@{https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css}"></link>
<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/js/datatable.js"></script>
<link th:href="@{/css/home.css}" href="/css/home.css" rel="stylesheet"
	type="text/css"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<form name="frmCreate" id="frmCreate"
		th:action="@{/save-registraition-form}" th:object="${dto}">
		<div class="container">
			<label><b>Name</b></label> <input type="text"
				placeholder="Enter Your Name" name="name" id="name"
				th:required="required" th:field="*{name}"></input><br></br> <label><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="email" id="email"
				th:required="required" th:field="*{email}"></input><br></br> <label><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="psw"
				id="psw" th:required="required" th:field="*{password}"></input><br></br>
			<label><b>Repeat Password</b></label> <input type="password"
				placeholder="Repeat Password" id="psw-repeat" name="psw-repeat"
				th:required="required" th:field="*{repeatPassword}"></input><br></br>

			<div class="clearfix">
				<button type="button" class="cancelbtn">Cancel</button>
				<button type="submit" class="signupbtn">Sign Up</button>
			</div>
		</div>
	</form>
</body>
</html>
